.container{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.contained{
    
}
footer{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.fa{
    color: white;
}
.end-meeting{
    background-color: darkgrey;
    color: red;

}
header{
    background-color: grey;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}
speaker{
    margin-right: 2px;
}